[submodule "Engine/Vendor/metal-cpp"]
	path = Engine/Vendor/metal-cpp
	url = https://github.com/RyanTmi/metal-cpp
[submodule "Vendor/Premake/CMake"]
	path = Vendor/Premake/CMake
	url = https://github.com/RyanTmi/premake-cmake
