[submodule "engine/vendor/metal-cpp"]
	path = Engine/Vendor/metal-cpp
	url = https://github.com/RyanTmi/metal-cpp
[submodule "vendor/premake/cmake"]
	path = Vendor/Premake/CMake
	url = https://github.com/RyanTmi/premake-cmake
